.aboutUsContainer {
    background: url('../../assests/AboutUs.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .aboutUsCard {
    // background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    margin-top: -3vw;
  }
  
  .description {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
  }
  
  .knowMoreBtn {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  
    &:hover {
      background: #cc5200;
    }
  }
  